{% extends 'base.html' %}
{% block title %}EditRating{% endblock %}
{% block content %}
    <h1 class="display-4 text-center mb-4">Edit Rating</h1>
    <h2 class="mb-3 mx-4">Book Name: <strong>{{ book.name }}</strong></h2>
    <h2 class="mb-4 mx-4">Current Rating: <span class="text">{{ book.rating }}</span></h2>

    <form action="" method="POST" class="p-4 my-4">
      <div class="mb-3 row align-items-center">
        <label for="newRating" class="col-sm-3 col-form-label fw-bold" style="font-size: 20px">New Rating</label>
        <div class="col-sm-6">
          <input type="number" class="form-control" id="newRating" name="New Rating" placeholder="Enter new rating (1-10)" min="1" max="10" step="0.01" required>
        </div>
        <div class="col-sm-3">
          <button type="submit" class="btn btn-dark btn-lg w-100">Change Rating</button>
        </div>
      </div>
    </form>
{% endblock %}
