{% extends 'base.html' %}
{% block title %}MyBookShelf{% endblock %}
{% block content %}
    <h1 class="display-4 text-center mb-4">Books on the Shelf</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="container mt-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}

        {% if books == [] %}
            <p class="lead mx-4" style="font-weight: 400">Library is empty.</p>
        {% else %}
            <ol class="list-group list-group-numbered" style="list-style-type: disc; padding-left: 20px;">
                {% for book in books %}
                <li class="list-group-item d-flex justify-content-between align-items-center" style="list-style-position: inside;">
                    <span>
                        <strong>{{ book.name }}</strong> by {{ book.author }} - <em>{{ book.rating }}/10</em>
                    </span>
                    <div>
                        <a href="{{ url_for('edit_rate', edit_id=book.id) }}" class="btn btn-sm me-2" style="background-color: #826bb0; color: white;">Edit Rating</a>
                        <a href="{{ url_for('delete_book', delete_id=book.id) }}" class="btn btn-sm" style="background-color: #d55963; color: white;">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ol>

        {% endif %}

        <div class="mx-4 mt-4 text-center">
            <a href="{{ url_for('add') }}" class="btn btn-dark btn-lg">Add New Book</a>
        </div>
{% endblock %}
